spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST:postgres}:5432/logiflow_pedidos
    username: ${DB_USER:postgres}
    password: ${DB_PASSWORD:postgres}

  jpa:
    hibernate:
      ddl-auto: update
